@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  appearance: none;
}

:root {
  --mainBg: rgb(255, 255, 255);
  --mainBgVariant: rgb(246, 246, 248);
  --btnBg: rgb(0, 0, 255);
  --btnBgVariant: rgba(4, 4, 105, 0.76);
  --shadowBg: rgba(0, 0, 255, 0.055);
  --textBg: rgb(0, 0, 0);
  --actBg: rgb(20, 114, 168);
  --overBg: rgba(0, 0, 0, 0.897);
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}
